
<nav class="navbar navbar-expand-lg navbar-light bg-info nav-color">
  <a routerLink="/home"><img src="../../assets/Training-Staff-Online.png"  class="navbar-brand" style="height: 70px;width:100px"/></a> 
         <button   class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  <a class="navbar-brand"  routerLink="/home">Online Training</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-font" routerLink="/home"><span class="nav-font">Home</span></a> 
      </li>        
      <li class="nav-item active">
        <a class="nav-link nav-font" routerLink="/register" *ngIf="!isUserLoggedIn"><span class="nav-font">Register</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-font" routerLink="/login" (click)="loginClicked()" *ngIf="!isUserLoggedIn"><span class="nav-font">Login</span></a>
      </li>
      <li class="nav-item" *ngFor="let user of Users">
        <a class="nav-link nav-font" routerLink="/userdashboard" *ngIf="isUserLoggedIn" ><span class="nav-font">{{user.Name}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-font" routerLink="/home" (click)="logoutClicked()" *ngIf="isUserLoggedIn"><span class="nav-font">Logout</span></a>
      </li>
    </ul>
  </div>
</nav>




